/* 
    Document   : mob_style
    Created on : Oct 16, 2011, 12:03:38 PM
    Author     : god
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    
    margin: 0;
}
html, body {
height: 100%;
}

fbbody{
    
    	position: relative;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-margin-top-collapse: separate;
	-webkit-margin-bottom-collapse: separate;
	border-bottom: 1px solid #e0e0e0;
	height: 47px;
}

.main_contents{
  color:#333333;
  font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size:12px;
  position: relative;
  height: 300px;
  /*
  min-height: 100%;
  height: auto !important;
  height: 100%;*/
/*  margin: 0 auto 10em;    */
}
/*
.footerMenu, .push {
height: 10em;

}*/

.setsuden_fb_app{
    
    	height: 324px;
}
/* Reposition on scroll */
body.scrolled .setsuden_fb_app {
	height: 263px;
}


.footerMenuWrapper{
/*    padding-top: 250px;*/
    top: 200px;
    position: absolute;
    width: 100%;
    min-width: 100%;
/*    background-color: blue;*/
    z-index: 10;
}

.footerMenu{
  background-color: blue;   
}
.footer{
    top: 400px;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: blue;
    
}
/*
.contents{
    padding-top: 30px;
}*/