/* 
    Document   : fb_style
    Created on : Aug 14, 2011, 12:37:16 PM
    Author     : god
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
root { 
    display: block;
}*/

html, body { margin: 0 0 0 0; padding: 0 0 0 0; border: 0 }

.setsuden_fb_app
{
/*    max-width: 760px;
    min-width: 760px;
  */  min-height: 500px;

}
.white_tag1
{
       position: fixed;
       width: 640px;
       height: 165px;
       background-color: #ffffff;
       padding-left: 120px;
       opacity: 0.1;
       float:left;
       z-index: 2;
}
.white_tag2
{
       position: fixed;
       width: 640px;
       height: 155px;
       background-color: #ffffff;
       opacity: 0.12;
       float:left;
       z-index: 2;
}
.white_tag3
{
       position: fixed;
       width: 640px;
       height: 145px;
       background-color: #ffffff;
       padding-left: 120px;
       opacity: 0.14;
       float:left;
       z-index: 2;
}
.white_tag4
{
       position: fixed;
       width: 640px;
       height: 140px;
       padding-left: 120px;
       background-color: #ffffff;
       opacity: 0.16;
       float:left;
       z-index: 2;
}
.white_tag5
{
       position: fixed;
       width: 640px;
       height: 135px;
       padding-left: 120px;
       background-color: #ffffff;
       opacity: 0.18;
       float:left;
       z-index: 2;
}

/*
.fbblue{
   background-color: #3b5998;
   width: 760px;
   color: #ffffff;
   position: fixed;
   z-index: 10;

}*/

.fbblue{
   background-color:#C3D9FF;
/*   width: 760px;*/
   color: #333333;
   position: fixed;
   z-index: 10;
/*   opacity: 0.1;*/
}

.fbblue h1{
 min-height: 50px;
 text-align: left;
 margin-left: 20px;
 padding-top: 20px;
 z-index: 5;
/* font-size: 30px;*/
}

.fixed-menu-column{
position: fixed;
width: 120px;
height: 500px!important;
z-index: 100;
padding-top: 20px;
/*padding-top: 120px;*/
text-align: center;

}
.lower_fixed-menu-column{
position: fixed;
width: 120px;
height: 500px!important;
z-index: 100;
padding-top: 120px;
/*padding-top: 120px;*/
text-align: center;
}

.main_contents
{
    position: relative;
    float: left;
    z-index: 1;
    padding-left: 130px;
    padding-top: 120px;
    padding-bottom: 100px;
}

.fbbody
{
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
}
/* Default Anchor Style */
.fbbody a
{
    color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}
.fbbody a:hover
{
    text-decoration: underline;
}
/* Facebook Box Styles */
.fbgreybox
{
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fbbluebox
{  
    background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fbinfobox
{
    background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
.fberrorbox
{
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}
/* Content Divider on White Background */
.fbcontentdivider
{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 520px;
    height: 1px;
    background-color: #d8dfea;
}
/* Facebook Tab Style */
.fbtab
{
    padding: 8px;
    background-color: #d8dfea;
    color: #3b5998;
    font-weight: bold;
    float: left;
    margin-right: 4px;
    text-decoration: none;
}
.fbtab:hover
{
    background-color: #3b5998;
    color: #ffffff;
    cursor: hand;
}

.footer{
    color:slategrey;
    padding-top: 245px;
}
/********************About page styling******************************/
#iphone {
    background-image: url("images/bg.png");
    height: 346px;
    left: 3px;
    padding: 122px 76px 197px;
    position: relative;
    /*right: 509px;*/
    /*top: -237px;*/
    width: 230px;
}

/********************About page styling******************************/

/********************Strategy page styling******************************/
.reportTable
{
width: 600px;
padding-bottom: 100px;
}
/*
table tr:nth-child(2+1) td {background: silver; }
*/
/*
.reportTable tr td
{
width: 10px;
}*/

/*
.reportTableRow + td {
    min-height: 1125px;
}*/


.reportTableRow_fx td:first-child{
/*    background-color: #333333;
    */
min-width: 100px;/*20%;*/
max-width: 100px;/*20%;*/
}

.reportTableRow_fx td:first-child + td{
/*background-color: #333333;*/
min-width: 330px;/*60%;*/
max-width: 330px;/*60%;*/
}

.reportTableRow_fx td:first-child + td + td{
min-width: 60px;/*10%;*/
max-width: 60px;/*10%;*/
}

.reportTableRow_fx td:first-child + td + td + td{
min-width: 40px;
max-width: 40px;
}

.stepnum{
    min-width: 30px;
    max-width: 30px;
}


.fixed-table-header{
position: fixed;
padding-left: 130px;
padding-top: 120px;/*95px*/
width: 630px;
height: 10px!important;
text-align: left;
float:left;
z-index: 3;
}
.white_border{
background-color: #ffffff;
padding-top: 0px;/*95px*/    
/*padding-left: 130px;*/
width: 800px;
height: 20px!important;    
position: fixed;
z-index: 3;    
}
.white_div{
background-color: #ffffff;
z-index: 2;    
}



.reportTableRow td:first-child{
/*    background-color: #333333;
    */
min-width: 100px;/*20%;*/
max-width: 100px;/*20%;*/
}

.reportTableRow td:first-child + td{
/*background-color: #333333;*/
min-width: 280px;/*60%;*/
max-width: 280px;/*60%;*/
}

.reportTableRow td:first-child + td + td{
min-width: 60px;/*10%;*/
max-width: 60px;/*10%;*/
}

/********************Strategy page styling******************************/

.common_title{
    text-align: center;
       background-color:#C3D9FF;
   width: 7600px;
   color: #333333;
   position: fixed;
   z-index: 10;

}

.common_title h1{
/*    text-align: center;*/
       background-color:#C3D9FF;
/*   width: 760px;*/
   color: #333333;
   height: 50px;
   /*z-index: 10;
   position: fixed;
   */
    min-height: 50px;
    text-align: left;
     margin-left: 20px;
    padding-top: 20px;
     z-index: 5;

}


#setsuden_container{
    text-align: left;
    max-width: 800px;

}

#setsuden_container h1{
    text-align: left;

}

.space{
    height: 150px;
    
}
.contents
{
    padding-left: 150px;
    max-width: 750px;   
    padding-top: 100px;
}
.contents td{
    max-width: 400px;
    width: 350px;
    height:30px;
    
}

/********************Crediets page styling******************************/
.credietsTable{
    width: 500px;

}

td.credietsTable {
    width: 250px;
   height: 30px;

}
tr.credietsTable{
    min-height: 100px;

}